{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#fff; text-align: center;">
  <img src="https://dl.dropboxusercontent.com/u/15694871/logo-rssify.png">
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
  <div class="row">
    <div class="span12" style="text-align:center;">
      <form>
        <input id="input" type="text" placeholder="Введите ссылку для конвертации" class="form-control input-large" style="width:400px;" />
        <a id="rssify" class="btn" style="vertical-align: top;">Преобразовать</a>
      </form>
    </div>
  </div>
</div>

{{template "footer.html" .}}
